<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <title><?= title ?></title>
    </head>
    <body>
        <h1><?= title ?></h1>
        <p>Make requests and get response.</p>
        <h2>Periodic Table</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: GET</li>
            <li>URL: <code><a href="/get/periodicTable" target="_blank">https://api.weber.am/get/periodicTable</a></code></li>
        </ul>
        <h3>Response</h3>
        <p>JSON: array, where each element is an object.</p>
    </body>
</html>