<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css?v=2.1">
        <title><?= title ?></title>
    </head>
    <body>
        <h1><?= title ?></h1>
        <p>Make requests and get response.</p>

        <h2>1) Armenian alphabet</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: GET</li>
            <li>URL: <code><a href="/get/alphabet" target="_blank">https://api.weber.am/get/alphabet</a></code></li>
        </ul>
        <h3>Response</h3>
        <p>JSON: array, where each letter data is an object.</p>

        <hr>

        <h2>2) Metals</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: GET</li>
            <li>URL: <code><a href="/get/metals" target="_blank">https://api.weber.am/get/metals</a></code></li>
        </ul>
        <h3>Response</h3>
        <p>JSON: array, where each metal data is an object.</p>

        <hr>

        <h2>3) Periodic Table</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: GET</li>
            <li>URL: <code><a href="/get/periodicTable" target="_blank">https://api.weber.am/get/periodicTable</a></code></li>
        </ul>
        <h3>Response</h3>
        <p>JSON: array, where each element is an object.</p>

        <hr>

        <h2>4) Send test data</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: POST</li>
            <li>Content-Type: application/json, application/x-www-form-urlencoded</li>
            <li>URL: <code><a href="/send/test" target="_blank">https://api.weber.am/send/test</a></code></li>
            <li>
                Optional
                <ul>
                    <li>Params: one, two</li>
                    <li>Query: unlimited</li>
                </ul>
            </li>
        </ul>
        <h3>Response</h3>
        <p>JSON: object, where each key-value pair is what you've sent.</p>

        <h2>5) Send form data</h2>
        <h3>Request</h3>
        <ul>
            <li>Method: POST</li>
            <li>Content-Type: multipart/form-data, application/json, application/x-www-form-urlencoded</li>
            <li>URL: <code><a href="/send/formdata" target="_blank">https://api.weber.am/send/formdata</a></code></li>
            <li>
                Optional
                <ul>
                    <li>Params: one, two</li>
                    <li>Query: unlimited</li>
                    <li>Files: unlimited</li>
                </ul>
            </li>
        </ul>
        <h3>Response</h3>
        <p>JSON: object, where each key-value pair is what you've sent, includeing files.</p>
    </body>
</html>